.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr  1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    height:100%
  }
  
  .grid-container > div {
    background-color: rgba(187, 172, 172, 0.8);
    text-align: center;
    padding: 20px 0;
    
   
  }
  
 
